body{
	background:white;
	font-size:40;
	font-family: moonglade;
	margin:0;
}
h1 {
	color:#111;
	text-align:center;
}


.pageNav li {
	display: inline-block;
	list-style-type: none;
	color:white;
	width: 33%;
	text-align:center;

}

nav ul li a {
	color:white;
}
#carList li {
	list-style-type: none;
	background: #222;
	border-radius: 10px;
	float: left;
	padding: 2%;
	margin: 2%;
	width: 25%;
	color: white;
	text-align: center;
}

.col {
	background: #222;
	border-radius: 10px;
	color: white;
	text-align: center;
}

footer {
	clear: both;
	text-align: center;
}

.navbar {
	background-color:black;
}

.navbar-nav {
	margin-left:auto !important;
}

.nav-item {
	margin: 0 100px;
}

.responsive {
	width: 50%;
	background-color: #699;
	border-color:#699;
	border-radius: 10px
	height: auto;
}

.form-inline {
	margin: 0 30%;
}

.form-control {
}

