* {
	margin:0;
	padding:0;
}
@font-face{
	src: url("Fonts/conthrax.ttf");
	font-family: mainFont;
	src: url('Fonts/conthrax-webfont.woff2');
    src: url('Fonts/conthrax-webfont.woff');
}

@media only screen and (max-width: 1080px) {
	.carImageMain {
			max-height: 140px;
			min-height:140px;
	}
}

@media only screen and (min-width:1080px) {
	.carImageMain {
		max-height:280px;
		min-height: 280px;
	}
}

html, body {
	height: 100%;
}

body{
	background:white;
	font-family: mainFont;
	margin:0;
	display:flex;
	flex-direction: column;
	min-height: 100%;
}

#container {
	min-height:100%;
}

#main {
	overflow:auto;
	padding-bottom:10px;
}

#footer {
	background-color: #000;
	color:white;
	position:relative;
	height:10%;
	width:100%;
	margin-top: auto;
	margin-bottom: 0;
	clear: both;
	text-align: center;
}

#carList li {
	display: inline-block;
	list-style-type: none;
	background: #222;
	border-radius: 10px;
	padding: 1.5%;
	margin: 3%;
	width: 25%;
	color: white;
	text-align: center;
	vertical-align: top;
}

#carList li a {
	color: white;
}

.introductionCol {
	background: #222;
	border-radius: 10px;
	color: white;
	text-align: center;
}

.navbar {
	background-color:black;
}

.navbar-nav {
	margin-left:auto !important;
}

.nav-item {
	margin: 0 100px;
}

.JTMotorsIcon {
	width: 50%;
	background-color: #699;
	border-color:#699;
	border-radius: 10px
	height: auto;
	margin-left:25%;
}

.searchBarForm {
	margin-top: 10px !important;
	position:sticky;
	width:100%;

}

#carList li .showOnHover {
	display: inline-block;
	text-align: left;
}

#carList li:hover .showOnHover {
	display: inline-block;
	text-align: left;
}

#carList li:hover {
	box-shadow: 0 0 12px #666;
}

p.carInfo {
	text-align: center;
}

.carImage {
	margin-top: 5%;
	width:90%;
	height: auto;
	object-fit: contain;
}

.carImageMain {
	width:100%;
	height: auto;
	object-fit: contain;
	display: block;
	position: center;
}

.addressLink, .emailLink {
	color:white;
}
a:hover {
	text-decoration: none;
}

#footer {
	bottom:0;
}

.slideshow-container {
	max-width: 1000px;
	position:relative;
	margin:auto;
}

.prev, .next {
	cursor: pointer;
	position: absolute;
	top:50%;
	width:auto;
	margin-top: -22px;
	padding:16px;
	color: white;
	font-weight: bold;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
}

.next {
	right: 0;
	border-radius: 3px 0 0 3px;
}

.prev {
	left: 0;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}
