* {
	margin:0;
	padding:0;
}
@font-face{
	src: url("Fonts/conthrax.ttf");
	font-family: mainFont;
	src: url('Fonts/conthrax-webfont.woff2');
    src: url('Fonts/conthrax-webfont.woff');
}

html, body {
	height: 100%;
}

body{
	background:white;
	font-family: mainFont;
	margin:0;
	display:flex;
	flex-direction: column;
	min-height: 100%;
}

#main {
	overflow:auto;
	padding-bottom:10px;
}

#footer {
	background-color: #000;
	color:white;
	position:relative;
	height:auto;
	width:100%;
	margin-top: auto;
	margin-bottom: 0;
	clear: both;
	text-align: center;
	bottom:0;
	font-size: 2vw;
}

#carList {
	display:flex;
	flex-wrap: wrap;
	justify-content: center;
	list-style: none;
}
#carList li {
	flex: 1 1 700px;
	background: #222;
	border-radius: 10px;
	margin:10px;
	color: white;
	text-align: center;
}

.carNames {
	text-align: center;
	font-size: 2vw;
	vertical-align: text-bottom;
}
.carInfo {
	text-align: center;
	font-size: 2vw;
}

#carList li a {
	color: white;
}

.introductionCol {
	background: #222;
	border-radius: 10px;
	color: white;
	text-align: center;
}

.searchButton {
	vertical-align: top;
}

.navbar {
	background-color:black;
}

.navbar-nav {
	margin-left:auto !important;
}

.nav-item {
	margin: 0 100px;
}

.JTMotorsIcon {
	width: 50%;
	background-color: #699;
	border-color:#699;
	border-radius: 10px
	height: auto;
	margin-left:25%;
}

.searchBarForm {
	margin-top: 10px !important;
	position:sticky;
	width:100%;

}

#carList li:hover {
	box-shadow: 0 0 12px #666;
}

.carImage {
	margin-top: 5%;
	width:90%;
	height: auto;
	object-fit: contain;
}

.carImageMain {
	display: flex;
	flex-wrap: wrap;
	margin-left: auto;
	margin-right: auto;
	width:70%;
	height:70%;
	object-fit: contain;
	padding-top:2%;
	padding-bottom:2%;
	padding-left: 2%;
	padding-right: 2%;
}

.addressLink, .emailLink {
	color:white;
}
a:hover {
	text-decoration: none;
}

.slideshow-container {
	max-width: 1000px;
	position:relative;
	margin:auto;
}

.prev, .next {
	cursor: pointer;
	position: absolute;
	top:50%;
	width:auto;
	margin-top: -22px;
	padding:75px;
	color: white;
	font-weight: bold;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
}

.next {
	right: 0;
	border-radius: 3px 0 0 3px;
}

.prev {
	left: 0;
}

.prev:onclick, .next:onclick {
  background-color: rgba(0,0,0,0.8);
}
