body{
	background:white;
	font-size:16px;
	font-family: "Dispence";
	margin:0;
}

#carList li {
	display: inline-block;
	list-style-type: none;
	background: #222;
	border-radius: 10px;
	padding: 2%;
	margin: 3%;
	width: 25%;
	color: white;
	text-align: center;
}

.introductionCol {
	background: #222;
	border-radius: 10px;
	color: white;
	text-align: center;
}

footer {
	clear: both;
	text-align: center;
	font-size:12px;
}

.navbar {
	background-color:black;
}

.navbar-nav {
	margin-left:auto !important;
}

.nav-item {
	margin: 0 100px;
}

.JTMotorsIcon {
	width: 50%;
	background-color: #699;
	border-color:#699;
	border-radius: 10px
	height: auto;
	margin-left:25%;
}

.searchBarForm {
	margin-top: 10px !important;
	margin-left: 12% !important;
}

#carList li .showOnHover {
	display: none;
}

#carList li:hover .showOnHover {
	display: inline-block;
}

#carList li:hover {
	box-shadow: 0 0 12px #666;
}

